<h1 class="text-center mt-4">Edit Your Profile</h1>

<div class="card w-50 bg-dark" style="margin:auto">
    <div class="card-body text-light" style="text-align: center">
        <%= @user.email %>
    </div>
</div>